In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
tr1 = pd.read_csv('transactions_1.txt')
tr2 = pd.read_csv('transactions_2.txt')
tr3 = pd.read_csv('transactions_3.txt')

In [10]:
tr = pd.concat([tr1,tr2,tr3])

In [4]:
tr.head(2)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,transaction_0,TRANSFER,AED,4.55,COMPLETED,NaN,NaN,NaN,NaN,OUTBOUND,user_4368,2018-04-03 03:34:21.784487
1,transaction_1,CARD_PAYMENT,AED,15.50,COMPLETED,FALSE,4111.0,Dubai,ARE,OUTBOUND,user_2355,2019-03-19 06:15:59.537032

In [5]:
tr['transactions_state'].value_counts()

COMPLETED    1916387
DECLINED      124226
REVERTED       89330
FAILED         32566
PENDING        17153
CANCELLED       1364
Name: transactions_state, dtype: int64

In [6]:
tr.shape

(2181026, 12)

In [ ]:
info = pd.DataFrame(tr.dtypes).T.rename(index={0:'Data type'})
info = info.append(pd.DataFrame(tr.isnull().sum()).T.rename(index={0: 'Zero values (number)'}))
info = info.append(pd.DataFrame(100*tr.isnull().sum()/tr.shape[0]).T.rename(index={0: 'Zero values (%)'}))

info

In [ ]:
pd.DataFrame({'attribute':['users','transactions'],
             'size':[len(tr.user_id.value_counts()),
                    len(tr.transaction_id.value_counts())]})

In [81]:
tr['transactions_state'].value_counts()

COMPLETED    1916382
DECLINED      124226
REVERTED       89329
FAILED         32566
PENDING        17153
CANCELLED       1364
Name: transactions_state, dtype: int64

In [90]:
tr.shape

(2181020, 12)

In [7]:
tr = tr.drop(tr.index[tr['amount_usd']== 0.00  ])

In [13]:
ntf = pd.read_csv('notifications.txt')
dev = pd.read_csv('devices.txt')
usr = pd.read_csv('users.txt')

In [7]:
ntf.head(2)

,reason,channel,status,user_id,created_date
0,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_1252,2018-12-02 17:58:33.320645
1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_12783,2018-12-01 23:09:37.367127

In [11]:
tr.head(2)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,transaction_0,TRANSFER,AED,4.55,COMPLETED,NaN,NaN,NaN,NaN,OUTBOUND,user_4368,2018-04-03 03:34:21.784487
1,transaction_1,CARD_PAYMENT,AED,15.50,COMPLETED,FALSE,4111.0,Dubai,ARE,OUTBOUND,user_2355,2019-03-19 06:15:59.537032

In [14]:
dev.head(2)

   brand user_id
0  Apple  user_0
1  Apple  user_1

In [15]:
usr.head(2)

,user_id,birth_year,country,city,created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
0,user_0,1992,ES,Madrid,2018-09-10 18:46:42.843855,0,STANDARD,1.0,1.0,3,0,0
1,user_1,1985,LT,Klaipeda,2018-01-11 18:53:10.531146,1,STANDARD,NaN,NaN,75,0,0

In [16]:
usr.columns, dev.columns,tr.columns,ntf.columns

(Index(['user_id', 'birth_year', 'country', 'city', 'created_date',
        'user_settings_crypto_unlocked', 'plan',
        'attributes_notifications_marketing_push',
        'attributes_notifications_marketing_email', 'num_contacts',
        'num_referrals', 'num_successful_referrals'],
       dtype='object'),
 Index(['brand', 'user_id'], dtype='object'),
 Index(['transaction_id', 'transactions_type', 'transactions_currency',
        'amount_usd', 'transactions_state', 'ea_cardholderpresence',
        'ea_merchant_mcc', 'ea_merchant_city', 'ea_merchant_country',
        'direction', 'user_id', 'created_date'],
       dtype='object'),
 Index(['reason', 'channel', 'status', 'user_id', 'created_date'], dtype='object'))