In [1]:
# Importing required libraries.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Loading the data into the data frame
tr1 = pd.read_csv("data/transactions_1.csv")
tr2 = pd.read_csv("data/transactions_2.csv")
tr3 = pd.read_csv("data/transactions_3.csv")
frames = [tr1,tr2,tr3]
tr = pd.concat(frames)
# convert to string
tr['ea_cardholderpresence'] = tr['ea_cardholderpresence'].astype(str)
tr['ea_merchant_city'] = tr['ea_merchant_city'].astype(str)
tr['ea_merchant_country'] = tr['ea_merchant_country'].astype(str)
tr.shape

(2181026, 12)

In [ ]:
# Checking the data type and convert them if necessary
tr.info()

In [3]:
tr.head(5)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,transaction_0,TRANSFER,AED,4.55,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_4368,2018-04-03 03:34:21.784487
1,transaction_1,CARD_PAYMENT,AED,15.50,COMPLETED,FALSE,4111.0,Dubai,ARE,OUTBOUND,user_2355,2019-03-19 06:15:59.537032
2,transaction_2,CARD_PAYMENT,AED,43.40,COMPLETED,FALSE,5814.0,Dubai,ARE,OUTBOUND,user_2355,2019-03-18 18:53:41.323032
3,transaction_3,TRANSFER,AED,10043.01,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_2355,2019-03-22 14:20:01.513032
4,transaction_4,CARD_PAYMENT,AED,43.81,COMPLETED,FALSE,5651.0,Abu Dhabi,ARE,OUTBOUND,user_14318,2019-03-22 05:42:50.316652

In [ ]:
tr.columns
#tr.ea_cardholderpresence.unique()  # emfanizei tis diaforetikes metavlites

**transaction_id** (str) --> id number

**transactions_type** --> tropos plhrwmhs(TRANSFER,CARD_PAYMENT,EXCHANGE,ATM,CARD_REFUND,TOPUP,REFUND,FEE,CASHBACK,TAX)

**transactions_currency** (str) --> 35 diaforetika currency

**amount_usd**  (float) -->  posa plhrwmhs se USD

**transactions_state** (str) --> katastash (COMPLETED, REVERTED, DECLINED, PENDING, FAILED, CANCELLED)

**ea_cardholderpresence** (str) -->  o katoxos tis kartas htan paron i oxi kata th sunallagh (nan, FALSE, TRUE, UNKNOWN)

**ea_merchant_mcc** (float) --> Merchant Category Code (MCC)

**ea_merchant_city**  (str) --> polh emporou

**ea_merchant_country** (str) --> xwra emporou

**direction** (str) --> eiserxomenes/ exerxomenes sunallages (OUTBOUND, INBOUND)

**user_id**   (str) --> Id user

**created_date**  -->  hmeromhnia sunallaghs

### Numerical and Categorical Columns

In [ ]:
numerical = [column for column in tr.columns if tr[column].dtype != 'O']
print(f'The numerical columns are: \n{numerical}\n')

categorical = [column for column in tr.columns if tr[column].dtype == 'O']
print(f'The categorical columns are: \n{categorical}\n')

## Find missing/ wrong values

In [ ]:
tr.isna().sum()

In [ ]:
tr['transactions_type'].value_counts()

In [ ]:
type_dict = {'CARD_PAYMENT': 'PAYMENT','TOPUP': 'PAYMENT',
              'TRANSFER': 'PAYMENT',
              'EXCHANGE': 'EXCHANGE',
              'ATM': 'ATM',
              'TAX': 'FEES','FEE': 'FEES',
              'CASHBACK': 'REFUNDS', 'REFUND': 'REFUNDS', 'CARD_REFUND': 'REFUNDS'}

tr['transactions_type'] = tr['transactions_type'].map(type_dict)
tr['transactions_type'].value_counts()

In [ ]:
tr['transactions_currency'].value_counts()

In [ ]:
tr['amount_usd'].value_counts()

In [ ]:
tr.drop(tr[ tr['amount_usd'] == 0.0 ].index , inplace=True)
tr['amount_usd'].value_counts()

In [ ]:
tr['amount_usd'].describe()

In [ ]:
tr['transactions_state'].value_counts()

In [ ]:
state_dict = {'COMPLETED': 'COMPLETED',
              'PENDING': 'PENDING',
              'REVERTED': 'REVERTED',
              'DECLINED': 'FAILED', 'FAILED': 'FAILED', 'CANCELLED': 'FAILED'}

tr['transactions_state'] = tr['transactions_state'].map(state_dict)
tr['transactions_state'].value_counts()

In [ ]:
tr['ea_cardholderpresence'].value_counts()

In [ ]:
pd.crosstab(index=tr['transactions_type'], columns=tr['ea_cardholderpresence'])  # susxetish sthlwn

In [ ]:
#def change_unknown_ea_cardholderpresence(presence):
#    if presence == 'UNKNOWN':
#       return random.sample(['FALSE', 'TRUE'], 1)[0]
#    elif presence == 'nan':
#        return random.sample(['FALSE', 'TRUE'], 1)[0]
#    else:
#        return presence
#
#tr['ea_cardholderpresence'] = tr['ea_cardholderpresence'].apply(change_unknown_ea_cardholderpresence)
#tr['ea_cardholderpresence'].value_counts()

In [ ]:
#presence_dict = {'FALSE': 0, 'TRUE': 1}
#tr['ea_cardholderpresence'] = tr['ea_cardholderpresence'].map(presence_dict)
#tr['ea_cardholderpresence'].value_counts()

In [ ]:
tr['ea_merchant_mcc'].value_counts()  # delete polla nan

In [ ]:
tr['ea_merchant_city'].value_counts() # delete polla nan kai wrong values

In [ ]:
tr['ea_merchant_country'].value_counts()

In [ ]:

u,c = np.unique (tr.ea_merchant_country , return_counts = True )
for z in zip(list(u) , list(c)):
  print ('{} : {}'.format(z[0],z[1]))

In [ ]:
#import pycountry_convert as pc

#def ea_merchant_country_continent(country_code):
#  if country_code != 'nan':
#    continent_name = pc.country_alpha2_to_continent_code(country_code)
#    return continent_name
#  else:
#    return country_code

#tr['ea_merchant_country'] = tr['ea_merchant_country'].apply(country_code)  # apply-> transformation
#tr['ea_merchant_country'].value_counts()

In [ ]:
tr['direction'].value_counts()

In [ ]:
direction_dict = {'OUTBOUND': 0, 'INBOUND': 1}
tr['direction'] = tr['direction'].map(direction_dict)
tr['direction'].value_counts()

## Droping columns

ea_cardholderpresence --> nan => UNKNOWN

ea_merchant_mcc --> polla nan ->  del column (923975 missing values)

ea_merchant_city (str) --> del column

In [ ]:
# Dropping  columns
new_tr = tr.copy()
del new_tr['ea_merchant_city']
del new_tr['ea_merchant_mcc']
del new_tr['ea_merchant_country']
del new_tr['ea_cardholderpresence']
new_tr.to_csv('data/new_transactions.csv')

In [ ]:
#new_tr.isna().sum()
new_tr.head()

## Finding Outliers

In [ ]:
sns.distplot(tr.amount_usd);

In [ ]:
tr.amount_usd.describe()
tr[tr.amount_usd >= 1e+08].amount_usd.count()
sns.boxplot(x=tr['amount_usd'])

In [ ]:
sns.boxplot(x=tr[tr.transactions_state == 'COMPLETED'].amount_usd)

In [ ]:
pd.crosstab(index=tr['amount_usd'], columns=tr['transactions_type'])  # susxetish sthlwn

In [ ]:
pd.crosstab(index=tr['user_id'], columns=tr['transactions_type'])  # susxetish sthlwn

In [ ]:
A = tr[tr['transactions_state'] == 'COMPLETED']
B1 = tr[tr['transactions_state'] == 'REVERTED']


df1 = pd.A(firstProductSet,columns= ['user_id', 'transactions_state', 'amount_usd'])

df2 = pd.B1(secondProductSet,columns= ['user_id', 'transactions_state', 'amount_usd'])

if df1['user_id'] === df2['user_id']:
    df1['pricesMatch?'] = np.where(df1['amount_usd'] == df2['amount_usd'] and , 'True', 'False')
    df1['priceDiff?'] = np.where(df1['amount_usd'] == df2['Price2'], 0, df1['Price1'] - df2['Price2'])

print (df1)

In [ ]:
tr.drop_duplicates(subset=tr.columns.difference(['transactions_state', 'created_date', 'transaction_id']))

In [ ]:
tr

In [28]:
tr[tr['transactions_state'].isin(['COMPLETED','REVERTED'])]
#filter2 = tr['transactions_state'].isin(['COMPLETED','REVERTED'])

#tr[filter1 & filter2]

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,transaction_0,TRANSFER,AED,4.55,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_4368,2018-04-03 03:34:21.784487
1,transaction_1,CARD_PAYMENT,AED,15.50,COMPLETED,FALSE,4111.0,Dubai,ARE,OUTBOUND,user_2355,2019-03-19 06:15:59.537032
2,transaction_2,CARD_PAYMENT,AED,43.40,COMPLETED,FALSE,5814.0,Dubai,ARE,OUTBOUND,user_2355,2019-03-18 18:53:41.323032
3,transaction_3,TRANSFER,AED,10043.01,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_2355,2019-03-22 14:20:01.513032
4,transaction_4,CARD_PAYMENT,AED,43.81,COMPLETED,FALSE,5651.0,Abu Dhabi,ARE,OUTBOUND,user_14318,2019-03-22 05:42:50.316652
...,...,...,...,...,...,...,...,...,...,...,...,...
681020,transaction_2181020,TRANSFER,EUR,46.81,COMPLETED,nan,NaN,nan,nan,INBOUND,user_1011,2019-04-30 10:14:11.002961
681022,transaction_2181022,TRANSFER,EUR,1.70,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_1011,2019-04-30 10:10:36.810961
681023,transaction_2181023,TRANSFER,EUR,4.26,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_3170,2019-05-01 11:34:25.078035
681024,transaction_2181024,TRANSFER,EUR,1.70,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_8195,2019-04-30 16:51:26.445105
681025,transaction_2181025,TRANSFER,EUR,4.26,COMPLETED,nan,NaN,nan,nan,OUTBOUND,user_10859,2019-05-01 06:01:59.441309

In [15]:
A = tr[tr['transactions_state'] == 'COMPLETED']
R = tr[tr['transactions_state'] == 'REVERTED']
F = tr[tr['transactions_state'] == 'FAILED']

R['user_id'].isin(A['user_id']).value_counts()

True     89074
False      256
Name: user_id, dtype: int64

In [21]:
F['amount_usd'].isin(R['amount_usd']).value_counts()

True     30493
False     2073
Name: amount_usd, dtype: int64

In [8]:
A.shape

(1916387, 12)

In [22]:
R.shape

(89330, 12)